/* 
    Created on : Nov 1, 2017, 1:18:27 PM
    Author     : profnagy
*/

body {
    font-size:18px;
    background-color: lightgreen;
    color: darkgreen;
    border: 7px solid yellowgreen;
    border-radius: 7px;
}

.menu {
    font-size:26px;
    background-color: lightgreen;
    color: darkgreen;
}

.logo {
    font-size:18px; 
    background-color: lightgreen;
    color: darkgreen;
}

.boxborder {
    border: 1px solid yellowgreen;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 10px;
}

.buttonmedium {
    font-size:18px;
    text-align: center; 
    border: 1px solid yellowgreen;
    background-color: #4CAF50; /* Green */
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonlike {
    font-size:18px;
    text-align: center; 
    border: 1px solid yellowgreen;
    background-color: gray;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);    
}

.notebox {
    background: white;
    border: 1px solid yellowgreen;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 10px;
}

.qnum {
    text-align: center; 
    border: 0px solid yellowgreen;
    background-color: lightgray;
    color: black;
    width: 120px;
    height: 25px;
    border-radius: 7px;
}

.buttonbig {
    font-size:18px;
    text-align: left; 
    border: 1px solid yellowgreen;
    background-color: #4CAF50; /* Green */
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.smallprint {
    font-size:12px;
    text-align: center;
}

.mediumprint {
    font-size:16px;
}

.errorprint {
    font-size:16px;
    text-align: center;
    color:red;
}

.quoteprint {
    width:400px;
    color: black;
    background-color:lightgrey;
}

.good {
    width:50px;
    color: beige;
    background-color:darkgreen;
}

.bad {
    width:50px;
    color: beige;
    background-color:red;
}

.quotebox {
    height:400px; 
    width:500px;
    border: 1px solid yellowgreen;
    border-radius: 7px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 10px;
}